<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid px-5">
        <a class="navbar-brand" href="/">
            <img
                src="/static/img/card-rice.png"
                alt="Logo"
                width="30"
                height="30"
                class="d-inline-block align-text-top me-2"
            />
            Rice Forecasting
        </a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 px-3">
            </ul>
            <div class="dropdown">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                >
                    <!-- <img
                        src="/static/img/user.png"
                        alt=""
                        width="32"
                        height="32"
                        class="rounded-circle me-2"
                    /> -->
                    <strong>{{ session['fname'] }}</strong>
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown"
                >
                    <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
                    <!-- <li><hr class="dropdown-divider" /></li> -->
                    <li>
                        <a class="dropdown-item" href="/logout"
                            >Sign out</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
