{% extends 'layouts/index.html' %}

{% block content %}
<div class="container d-flex justify-content-center align-content-center pt-0 mt-4">
  <div class="card shadow-lg m-5 rounded hoverable rounded-5" style="width: 60rem; height: 35rem;">
        <h1 class=" d-flex justify-content-center mt-5">Login</h1>
          <div class=" container-fluid d-flex justify-content-center mt-5">
            <form action="/" method="post">
              <div class="form-group" style="width: 450px;">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="form-group mt-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" required>
              </div><br>
              <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-success mx-4">Login</button>&nbsp;<a href="/sign" class="btn btn-light">Sign Up</a>
              </div>
            </form>
          </div>
          <div class="container mx-2">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="alert alert-danger mt-4" style="width: 890px;" role="alert">
                  {% for message in messages %}
                    <p>{{ message }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}
          </div>
      
  </div>
</div>
{% endblock %}
